[buildout]
extends = versions.cfg
parts =
      celery
      django
      mongodb
      var-directory
eggs-directory = var/eggs
parts-directory = var/parts
develop-eggs-directory = var/develop-eggs
versions = versions
show-picked-versions = true


# Creates several subdirectories with var/ so that the django project
# can store database files and uploaded files
[var-directory]
recipe = z3c.recipe.mkdir
paths = var/db
      var/logs


[celery]
recipe = zc.recipe.egg
eggs = Celery
     flower
     pyopenssl
     ${production:eggs}
scripts = celery
        celeryd
        celeryd-multi
        celerybeat
        flower


[mongodb]
recipe = rod.recipe.mongodb
darwin-64bit-url = http://fastdl.mongodb.org/osx/mongodb-osx-x86_64-2.4.8.tgz
linux2-32bit-url = http://fastdl.mongodb.org/linux/mongodb-linux-i686-2.4.8.tgz
linux2-64bit-url = http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-2.4.8.tgz
script_name = start_mongo.sh
logpath = ${buildout:parts-directory}/mongodb/log
dbpath = ${buildout:parts-directory}/mongodb/data
directoryperdb = true
bind_ip = 127.0.0.1


# Creates a django project for the app to live in
[django]
recipe = djangorecipe
project = aubergine
settings = settings.development
extra-paths = ${production:extra-paths}

# Inherit all eggs from [production],
# then add a few more below
eggs = ${production:eggs}

# Developer Eggs (Packages to help us develop)
     werkzeug           # Used by django-extensions
     yanc               # Allows for colorized output from nose tests
     coverage           # Coverage determines what code is covered by the unit tests


# Creates a django project for the production app
[production]
recipe = djangorecipe
project = aubergine
settings = settings.production

eggs =
# Django Dependencies
     psycopg2           # Postgres driver
     pillow             # Portable version of the Python Imaging Library
     PyYAML             # Allows us to use YAML with django
     celery             # Distributed task queue
     flower             # More celery monitor
     python-memcached   # Memcache module
     pymongo            # Driver for MongoDB

# Django apps
     gunicorn            # Web server
     django-crispy-forms # Makes for nice forms
     raven               # Sentry client
     South               # Database migrations

# Developer Eggs (Packages to help us develop)
     ipython             # Gives us a fancy ipython interpreter for django shell
     readline            # Needed by ipython
     django-extensions   # Provides some extra django management commands
     django-nose         # Django-nose allows us to run tests with nose
     django-admin-tools  # Admin tools
     feedparser          # Used by django-admin-tools
